.feature {
    display: flex;
    align-items: center;
}

.feature__icon {
    display: flex;
    width: rem(35px); 
    margin-right: rem(14px);
   
}

.feature__img {
    width: rem(35px);
    height: rem(35px); 
    fill: white;
}

.feature__text {
   font-size: rem(16px);
    max-width: rem(85px);
}