.hero {
    background: url(../img/Herocover.png) top center no-repeat ;
    background-size: cover;
    color: white;
    height: 100vh;
    min-height: 650px;
    margin-bottom: 107px;
}

.hero__title-section {
    width: 46%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 39px;
    padding-right: 10%;
}