.products {
    background: #F8FAF9;
}

.products__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.products-slider {
    position: relative;
}


